.Data_table{
    width: 100%;
    height: auto;
    margin-left: 5%;
    
    
}

.container_2{
    box-shadow: 1px 1px 6px #aaaaac;
    border-radius: 10px;
    width: 125%;
    height: auto;
    margin-left: -25%;
}