// 맨위 아이콘





.title_icon_2{

  
  
    color:rgb(251, 184, 119);
    outline: none;
    border-radius: 5px;
    background-color: #FFF;
    
}




// 특이한 버튼


.yuBtn{


  background-color: rgba(251, 185, 119, 0.862);
    color:white;
    outline: none;
    border-radius: 10px;
    width: 70px;
    margin-left: 5%;
    margin-top: 40%;
    height: 30px;
    transition: 0.5s;
    box-shadow: 3px 9px 6px rgb(210, 155, 101);
    border-width: 1px rgba(0, 0, 0, 0.578);

    &:hover{
        transition: 0.7s;
        transform: translateY(2px);

        box-shadow: 1px 5px 6px rgb(178, 132, 86);
    }

    &:active{
        transition: 0.25s;
        color: black;
        background-color: rgb(251, 184, 119);
        transform: translateY(4px);
        box-shadow: 1px 1px 3px rgb(210, 155, 101);

    
        
        
       

    }
    
   

}


//오른쪽 상단 메뉴

#title_icon_1 {
    font-size: 35px;

    color:rgb(251, 184, 119);
    outline: none;
  
    background-color: #FFF;
    
    
    
  
     
      

}


#menu {
  color: black;
  border: 3px solid rgb(251, 184, 119);
  width: auto;
  height: 24.5%;
  border-radius: 10px;
  margin-top: 2%;
 

  display: none;
  margin-left: 35%;
  position: absolute;
  background-color: rgba(245, 245, 220, 0.614);

  

}

#menu li{
   list-style:none;

font-weight: bold;
   font-size: 1%;
   float: left;

   
   color: #795d04;

   &:hover{
    color:rgb(251, 184, 119);
    
   }
   

   
  
}

#menu li button{
  background-color: rgba(245, 245, 220, 0.452);

  width: 90px;
  height: 20px;
  
 

  
 
}

/* 로고 */

.sidebar__logo{
  margin-left: -140%;
  margin-bottom: -7%;
  width: 20%;
 
}



